*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
.layer{
  padding-left: 16rem;
  padding-right: 16rem;
}
.hh{
    display: flex;
    flex-direction: column;
    align-items: center;
}